:root {
    --color-text: #424650;
    --color-text-accent: #006ce0;
    --color-icon: #424650FF;
    --color-border: #ccc;
    --color-background: #fff;
    --color-placeholder: #666;
    --color-icon-accent: #006ce0;
    --size-spacer-item-nav: 8px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

ul {
    padding-inline-start: 25px;
}
